<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">"Todo equipo que trata bien el balón, trata bien al espectador".</h1>
                <h3>Inscripciones Abiertas</h3>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-3" style="width:800px; margin:0 auto;">
                            <button type="button" class="btn btn-block btn-lg btn-primary" align="center" onclick="location.href='@Url.Action("Index", "Registro")'">¡Regístrate!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-bulb m-auto text-primary"></i>
                    </div>
                    <h3>Misión</h3>
                    <p class="lead mb-0">“Cebollitas F.C” una entidad deportiva encargada de la práctica y competencia del fútbol, la formación en valores, respeto a los demás y el impulso al gusto por la práctica de la actividad física y el fútbol en niños y jóvenes de todos los estratos sociales.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-trophy m-auto text-primary"></i>
                    </div>
                    <h3>Visión</h3>
                    <p class="lead mb-0">Ser una institución deportiva modelo en la organización y administración de la práctica deportiva; reconocida como una escuela de fútbol a nivel cantonal y regional a partir de un equipo conformado por jugadores jóvenes, que destaquen dentro de la comuna, además preocupada por la formación integral de sus integrantes fomentando la disciplina, principios y valores de la sociedad ecuatoriana.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-paypal m-auto text-primary"></i>
                    </div>
                    <h3>Pagos en Línea</h3>
                    <p class="lead mb-0">Realiza los pagos de la mensualidad en línea.</p>
                </div>
            </div>
        </div>
    </div>
</section>